.editor
{
    padding: 10px;
    margin: auto;
    height: 700px;
    width: 900px;
    border: solid 1px black;
}

.bold{
    font-weight: bold;
}

.normal{
    font-weight: normal;
}

.italic{
    font-style: italic;
}

.underline{
   text-decoration: underline;
}

.rightalign{
    display: block;
    text-align: right;
}

.leftalign{
    display: block;
    text-align: left;
}

.justify{
    display: block;
    text-align: justify;
}