ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  display: flex;
}

.spacer {
  flex: 1 1 auto;
}

.nav{
  background-color: rgb(56, 52, 52) !important;
}

.navlogin :hover{
  background-color: rgb(214, 134, 28);
  cursor: pointer;
  color: black;
}

.sticky{

  background-color: white;
  position: -webkit-sticky;
  position:sticky;
  top:0;
  z-index:1;
}
