<div class="paymentSilver">
  <span class="top">Buy Your Premium Subscription Today!!</span>
<div class = "plan1">
    <input type="hidden" [(ngModel)]="finalAmount" class = "hide">
  <!-- <div id="paypal-checkout-btn"></div> -->

  <span class="header">Flexible Plan</span><br><br>
  <span class = "body">Get free email alerts <br> Dashboard Customization<br>Priority Support
  </span><br><br>
  <span class="header">$10 / month</span>
  <button id="paypal-checkout-btn" type="button" class="btn btn-outline-secondary mr-2" placement="right"
          ngbPopover="You are about to make the Right Choice">

  </button>

  </div>
</div>

