.FirstHome{
  background:
  linear-gradient(rgba(124, 128, 128, 0.0), rgba(9, 62, 60,0.9)),
  url('../../../Images/HomePage.jpg');
  background-size: cover;
  height: 510px;
  padding-bottom: 0px;
}

.SecondHome{
  background:
  linear-gradient(rgba(124, 128, 128, 0.0), rgba(9, 62, 60,0.9)),
  url('../../../Images/SecondHome.jpg');
  background-size: cover;
  height: 510px;
  padding-bottom: 0px;
}

.ThirdHome{
  background:
  linear-gradient(rgba(124, 128, 128, 0.0), rgba(9, 62, 60,0.9)),
  url('../../../Images/ThridHome.jpg');
  background-size: cover;
  height: 510px;
  padding-bottom: 0px;
}

h1{
  // padding-top:
  padding-left: 165px;
  font-size: 30px;
  color: white;
  width: 700px;
  height: 150px;
  font-weight: 500px;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;

}

// p{
//   padding-top: 280px;
//   padding-left: 165px;
//   font-size: 30px;
//   color: white;
//   width: 700px;
//   height: 150px;
//   font-weight: 500px;
//   text-align: left;
//   font-family: Arial, Helvetica, sans-serif;
// }

