@import "variables", "mixin";

.box {
  margin: auto;
  border: 1px solid #DEDEDE;
  color: $font-color; //usage of global variables
}

.box, .box2 {
  $height: 35px;
  height: $height; // usage of local variables
  vertical-align: middle;
  line-height: $height; // usage of local variables
  width: $pg-width;
  position: sticky;
  background-color: white;
  z-index: 1;
  //opacity: 1;
}

.box2 {
  top: 0;
  height: 45px;
  margin-bottom: 13px;
  /*margin: {
    left: 250px;
    right: 30%;
  }*/
}

.textHead {
  top: 0;
  margin: {
    left: 250px;
    right: 30%;
  }
}

.navbar {
  margin-left: 100px;
  position: sticky;
  display: inline;
}

/*.reqButton {
  position: sticky;
  display: inline;
}*/

.container {
  background-color: $brand-color;
  width: $pg-width;
  height: 600px;
  border: 1px solid #DEDEDE;
}

.button2 {
  position: absolute;
}

.formBox {
  background-color: white;
  top: 100px;
  //margin-top: 500px;
  align-content: center;
  position: center;
  text-align: center;
  opacity: 1;
  @include drawBox(300px, 400px, white, 10px, auto, auto, auto, auto, 800px,50px);
  //margin-top: 200px;
 // @mixin drawBox($width,$height,$bg-color,$padding,$align-content,$text-align,$border,$border-radius,$margin-left) {

  }