@import url('https://fonts.googleapis.com/css?family=Poppins:400,900&display=swap');
@import "variables", "mixin";

.box {
  font-size: $font-size;
  overflow: hidden;
}

.box, .box2, .imgtxt {
  font-family: $font-fam;
}

.email {
  color: $brand-color;
  text-decoration: none;
}

.header {
  //color: $brand-color;
  @include fontProperties(23px, $brand-color, $font-fam, 900, normal);
  margin-left: 250px;
}

/*.header {
  font-weight: 900;
  font-size: 23px;
}*/

.navbar {
  $navTextColor: #848484;
  overflow: hidden;

  ul {
    text-align: center;
    list-style-type: none;
    display: inline;

    li {
      display: inline;
      font-size: 10px;

      a {
        color: $navTextColor;
        text-decoration: none;
        padding: 10px;

        &:hover {
          color: $brand-color;
        }
      }
    }
  }
}

.reqButton {
  @include button(white, $brand-color, auto, auto, auto, 120px);
  //@mixin button($text-color,$background-color,$position,$margin-left,$margin-top)
}

.imgtxt {
  top: 45%;
  left: 20%;
  //font-weight: bold;
  color: white;
  position: absolute;
}

.p1 {
  //font-size: 24px;
  //font-family: $font-fam;
  // @mixin fontProperties($font-size,$font-color,$font-fam,$font-weight,$font-style) {
  @include fontProperties(40px, white, $font-fam, normal, normal);
}

.p2 {
  /*font-size: $font-size;
  font-family: $font-fam;
  color: $font-color;*/
  @include fontProperties($font-size, white, $font-fam, normal, normal);
}

.centerHeader {
  text-align: center;
  @include fontProperties(24px, $brand-color, $font-fam, normal, normal);
}

.cell-content {
  //margin-left: 25px;
  @include fontProperties(10px, $font-color, $font-fam, normal, normal);
}

.cellHeader {
  text-align: center;
  @include fontProperties(15px, $brand-color, $font-fam, normal, normal);
}

.italic-head {
  @include fontProperties(10px, $font-color, $font-fam, normal, italic);
}

.left-head {
  @include fontProperties(25px, $brand-color, $font-fam, normal, normal);
}

.bottombar {
  @include fontProperties(20px, white, $font-fam, normal, normal);
}

.black-bold-font {
  @include fontProperties(15px, black, $font-fam, normal, normal);
  //margin-left: 40px;
}

.date {
  @include fontProperties(8px, $font-color, $font-fam, normal, italic);
}

.author {
  @include fontProperties(10px, $font-color, $font-fam, 300, italic);
  display: inline;
  float: left;
}

.text {
  //@include button(white,$brand-color,relative,auto,auto,auto,10px,0px);
  //ask why button height is set n text is not centered
  //@mixin button($text-color,$background-color,$position,$margin-left,$margin-top,$width:auto,$height:auto,$border-radius:22px) {
  background-color: $brand-color;
  padding: 5px;
  border: none;
  @include fontProperties(10px, white, $font-fam, 400, italic);
}

.tb{
  background-color: lightgray;
  color: $font-color;
  //@include fontProperties(10px, white, $font-fam, normal, normal);
}

.ref{
  text-decoration: none;
  font-family: $font-fam;
  color: $font-color;
}