@import "variables";

@mixin button($text-color,$background-color,$position,$margin-left,$margin-top,$width:auto,$height:auto,$border-radius:22px) {
  padding: 15px;
  font-size: 10px;
  border-radius: $border-radius;
  color: $text-color;
  background-color: $background-color;
  font-family: $font-fam;
  position: $position;
  margin-left: $margin-left;
  margin-top: $margin-top;
  //height: 25px;
  text-align: center;
  border: none;
  width: $width;
  height: $height;
}

@mixin fontProperties($font-size,$font-color,$font-fam,$font-weight,$font-style) {
  font-size: $font-size;
  color: $font-color;
  font-family: $font-fam;
  font-weight: $font-weight;
  font-style: $font-style;
}

@mixin drawCell($grid-column,$grid-row,$padding,$align-content,$text-align) {
  grid-column: $grid-column;
  grid-row: $grid-row;
  padding: $padding;
  align-content: $align-content;
  text-align: $text-align;
}

@mixin drawCellTest($padding,$align-content,$text-align) {
  //grid-column: $grid-column;
  //grid-row: $grid-row;
  padding: $padding;
  align-content: $align-content;
  text-align: $text-align;
}

@mixin drawBox($width,$height,$bg-color,$padding,$align-content,$text-align,$border,$border-radius,$margin-left,$margin-top:auto) {
  width: $width;
  height: $height;
  background-color: $bg-color;
  padding: $padding;
  align-content: $align-content;
  text-align: $text-align;
  border: $border;
  border-radius: $border-radius;
  margin-left: $margin-left;
  margin-top: $margin-top;
}

@mixin image($bg-size,$bg-repeat,$bg-position,$bg-img) {
  background-size: $bg-size;
  background-repeat: $bg-repeat;
  background-position: $bg-position;
  background-image: $bg-img;
}