@import url("https://fonts.googleapis.com/css?family=Righteous");
/*used for Mediumish font*/
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"); /*used for bookmark symbol*/

/*tag selector*/
h1 {
    font-family: Righteous;
    font-weight: 500;
    display: inline;
    margin-bottom: 5px;
    line-height: 55px;
}

/*used for bookmark*/
i {
    font-size: 36px;
    color: black;
}

/*class selector*/
.pfont {
    font-family: Arial;
    display: inline;
}

h3 {
    font-family: Calibri;
}

.contentFont {
    color: rgb(143, 143, 143);
    font-family: Arial;
    font-size: small;
}

.navbar {
    /*setting navigation bar proprties*/
    border-bottom: 0.5px solid rgb(223, 223, 223);
    padding-bottom: 0px;
    width: 82%;
}

.navText {
    font-family: Arial;
    font-weight: bolder;
    color: black;
    border-bottom: 0.5px solid darkgrey;
}

/*pseudo class*/
a:link {
    padding-bottom: 15px;
    padding-top: 25px;
    display: inline-block;
    text-decoration: none;
}

.firstRowBlock {
    width: 270px;
    height: 220px;
    border: 0.5px solid rgb(223, 223, 223);
    border-radius: 5px;
    padding: 0px 10px 10px 10px;
    margin: 0px 10px 10px 10px;
    float: left;
    display: flex;
}

.secondRowBlock {
    width: 270px;
    height: 140px;
    border-top: 0.5px solid rgb(223, 223, 223);
    border-right: 0.5px solid rgb(223, 223, 223);
    border-left: 0.5px solid rgb(223, 223, 223);
    border-radius: 5px;
    padding: 0px 10px 10px 10px;
    margin: 0px 10px 10px 10px;
    float: left;
    display: flex;
}

.mainFrame {
    margin: 20px 65px 70px 65px;
    position: relative;
}

span {
    color: rgb(25, 170, 109);
}